<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forum</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body class="backgroundImage">

        <div class="title"><a href="/" style="color: white;">🔥 FIRESIDE FORUM 🔥</a></div>

        <div style="margin-right: 30px; text-align: right;">
            {{ if .User.Username }}
                <div class="postContent courierFont">
                    Logged in as: {{ .User.Username }}
                </div>
                <a href="/logout" style="color: white; font-size: 18px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">LOG OUT</a>
            {{ else }}
                <a href="/login" style="color: white; font-size: 18px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">LOG IN</a>
                <a href="/signup" style="color: white; font-size: 18px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-left: 30px;">SIGN UP</a>
            {{ end }}
        </div>

        <div class="activityTitle">
            POSTS CREATED BY ME:
        </div>
        <div class="post-container">
            {{ range .PostsCreatedByCurrentUser }}
            <div class="post-block">
                <div class="postText">
                    <a href="/posts/{{ .Id }}" >
                        <div class="postTitle">{{ .Title }}</div>
                        <div class="postContent">{{ .Content }}</div>
                        {{ if .ImageUrl }}
                        <img class="postImage" src="{{.ImageUrl}}" alt="">
                        {{ end }}
                        <div class="postDate">{{ .CreatedAt }}</div>
                    </a>  
                </div>
            </div>
            {{ end }}
        </div>

        <div class="activityTitle">
            POSTS LIKED BY ME:
        </div>
        <div class="post-container">
            {{ range .PostsLikedByCurrentUser }}
            <div class="post-block">
                <div class="postText">
                    <a href="/posts/{{ .Id }}" >
                        <div class="postTitle">{{ .Title }}</div>
                        <div class="postContent">{{ .Content }}</div>
                        {{ if .ImageUrl }}
                        <img class="postImage" src="{{.ImageUrl}}" alt="">
                        {{ end }}
                        <div class="postDate">{{ .CreatedAt }}</div>
                    </a>  
                </div>
            </div>
            {{ end }}
        </div>

        <div class="activityTitle">
            POSTS DISLIKED BY ME:
        </div>
        <div class="post-container">
            {{ range .PostsDislikedByCurrentUser }}
            <div class="post-block">
                <div class="postText">
                    <a href="/posts/{{ .Id }}" >
                        <div class="postTitle">{{ .Title }}</div>
                        <div class="postContent">{{ .Content }}</div>
                        {{ if .ImageUrl }}
                        <img class="postImage" src="{{.ImageUrl}}" alt="">
                        {{ end }}
                        <div class="postDate">{{ .CreatedAt }}</div>
                    </a>  
                </div>
            </div>
            {{ end }}
        </div>

        <div class="activityTitle">
            POSTS COMMENTED ON BY ME:
        </div>

    </body>
</html>
